.cont {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
  gap: 30px;
}
ul > p,
.button {
  display: flex;
  justify-content: center;
}
ul {
  padding: 30px;
  background-color: #5fbe9275;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 20px;
}
.button {
  margin-top: 30px;
}

.navblock {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}
.postbtn {
  background-color: rgb(39, 220, 177);
  border: none;
  padding: 3px 50px;
  color: black;
  font-size: 16px;
  border-radius: 5px;
}

#httpdata {
  margin: auto;
  border: 3px solid black;
  width: 80vh;
  margin-top: 3%;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
/* hr {
  border-top: 2px solid white;
} */
button {
  margin-right: 30px;
}
input {
  margin-left: 40px;
  padding: 5px 10px;
  border-radius: 3px;
}
span > a {
  color: black;
}

.popup-container {
  text-align: center;
  width: 60vh;
  position: fixed;
  top: 10%;
  left: 30%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #050808;
  color: white;
  padding: 20px;
}

.opacity-control {
  opacity: 0.1;
}

.editmodal-container {
  text-align: center;
  width: 60vh;
  position: fixed;
  top: 15%;
  left: 35%;
  border: 2px solid black;
  border-radius: 8px;
  background-color: #cbd5d5;
  color: black;
  padding: 20px;
}

label {
  font-style: bold;
  font-size: 20px;
  color: bisque;
}

.errormsg {
  color: red;
  font-size: 20px;
  font-style: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul > p > label {
  color: rgb(225, 91, 24);
  font-family: bold;
}
.textmsg {
  color: red;
  text-align: center;
}
